body{
	padding:0px;
	margin:0px;
}
/*问题：高度通过计算获取*/
.chartDiv{
	height:370px;
	width:490px;
	margin-bottom: 5px;
	border:1px solid #0459A2;
}

.directLeft{
	float:left;
}
.directRight{
	float:right;
}

.chartDiv >:first-child{
	height:50px;
	width:100%;
}
/*高度可通过父容器高度计算获取*/
.chartBodyDiv{
	height:340px;
	width:100%;
}